<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo for Video-Conf App</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="style/bootstrap.css"-->
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/chat.css">

</head>
<body>
<div class="container">
  <div class="row">
    <h2>Demo for Video Conferencing App: User Lobby</h2>

    <div id="content"></div>
    <h4>Welcome, <%= user %></h4>
  </div>

  <div id="chat-app"></div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js'></script>

  <script src="jspm_packages/system.js"></script>
  <script src="config.js"></script>
  <script src="chat-build.js"></script>

  <script>
    // receive data from server ejs:
    var curruser = '<%= user %>';
    var host = '<%= host %>'

    function print(s,s1) { console.log(s); if (s1) console.log(s1); }

    System.import('chat');

    if (false && location.origin.match(/localhost/))
    {
      System.trace = true;
      System.import('capaj/systemjs-hot-reloader').then(function(HotReloader) {
        new HotReloader.default('http://localhost:3000');
      });
    }

  </script>
  <!-- endbuild -->

  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="jquery.timer.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js" type="text/javascript" ></script-->

  <script>
    var getRandomInt = function(min, max) {
      if (!max) {
        max = min;
        min = 0;
      }
      return Math.floor(Math.random() * (max - min + 1)) + min;
    };

  </script>
  </div>
</body>
</html>
