<html>
<head>
  <title>Demo for Video-Conf App</title>
</head>
<body>
  <h2>Demo for Video-Conf App</h2>

  <div id="content"></div>
  <p>Welcome to this Demo</p>
  <p> <%= test %></p>

  <!-- build:production -->
  <script src="jspm_packages/system.js"></script>
  <script src="config.js"></script>

  <script>
    //System.import('index');

   if (location.origin.match(/localhost/)) 
   {
      System.trace = true;
      System.import('capaj/systemjs-hot-reloader').then(function(HotReloader) {
        new HotReloader.default('http://localhost:3000');
      });
    }

  </script>
  <!-- endbuild -->
</body>
</html>
